{
  "plugins": [
    [
      "inline-json-import",
      {}
    ],
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": [
    "@babel/preset-react",
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "env": {
    "production": {
      "presets": [
        "minify"
      ],
      "sourceMaps": true
    }
  }
}