.Table {
  .table.disabled {
    position: relative;
    pointer-events: none;

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      background-color: black;
      opacity: .4;
      display: block;
      position: absolute;
      z-index: 30000;
      transition: all .3s;
    }
  }
}