$white: #fbfbfe;
$primary: #6fa4c5;
$secondary: #70b6ba;
$black: #162027;
$light: #f1f1fa;
$dark: #031632;
$body-color: $black;
$component-active-bg: $secondary;
$nav-link-color: $secondary;

@import "bootstrap/scss/bootstrap";
@import "../../../src/scss/style";

.cursor-pointer {
  cursor: pointer;
}

@include media-breakpoint-up(sm) {
  .services-grid-GridSwitchContainer .row ~ .row {
    margin-top: -25px;
  }
}
