// test-view
.test-view-wrapper {
  border: 1px solid red;
  padding: 1;
  overflow: auto;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  left: 1px;
  top: 1px;
  display: flex;
  flex-direction: column;
}

.test-section-wrapper {
  border: 1px solid blue;
  padding: 1px;
  margin: 1px;
}
//----------