// test-view
.test-view-wrapper {
  outline: 1px solid red;
  padding: 1px;
  margin: 1px;
  overflow: auto;
  display: flex;
  flex-direction: column;

  &::before {
    content: var(--component-name, "");
    opacity: .6;
    font-size: .6rem;
  }
}

.test-section-wrapper {
  outline: 1px solid blue;
  padding: 1px;
  margin: 1px;

  &::before {
    content: var(--component-name, "");
    opacity: .6;
    font-size: .6rem;
  }
}

//----------