.translatex-middle {
  transform: translateX(-50%) !important;
}

.translatey-middle {
  transform: translateX(0) translateY(-50%) !important;
}

@include media-breakpoint-up(sm) {
  .left-sm-0 {
    left: 0 !important;
  }
  .translatey-sm-middle {
    transform: translateY(-50%) !important;
  }
}
