@each $key, $br in $grid-breakpoints {
    .row.#{$key} {
        @for $i from 1 through $grid-columns {
            > .auto-#{$key}-#{$i} {
                flex: 0 0 auto;
                @if function-exists(divide) {
                    width: percentage(divide($i, $grid-columns));
                } @else {
                    width: percentage(($i/$grid-columns));
                }
            }
            &.row-auto-#{$key}-#{$i} > *:not(.resize-sensor) {
                flex: 0 0 auto !important;
                @if function-exists(divide) {
                    width: percentage(divide($i, $grid-columns)) !important;
                } @else {
                    width: percentage(($i/$grid-columns)) !important;
                }
            }
        }
    }
}
