@import "./images/icons";
@import "./containers";
@import "./views";
@import "./forms";
@import "./navigation";
@import "./tables/table";

:root {
  --dbl-test-opacity: .5;
}

.cursor-pointer {
  cursor: pointer;
}

/* html, body {
  height: 100%;
} */