@keyframes anim-rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.Svg,
.Icons {
  &.icon-inline {
    width: 1.2em;
    vertical-align: text-bottom;
    margin-top: 0.15rem;
    margin-bottom: -0.15rem;
  }

  &.small {
    font-size: 0.5em;
  }
}

.img-cover {
  object-fit: cover;
}

.spinner {
  animation: anim-rotate 2s infinite linear;
}